[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/ImGuiFileDialog"]
	path = vendor/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
[submodule "vendor/hash-library"]
	path = vendor/hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "vendor/bitforgeutils"]
	path = vendor/bitforgeutils
	url = git@gitlab.com:artur.matkowski/bitforgeutils.git
